<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="parentTable" value="Filme"/>
    <add key="parentPrimaryKey" value="idFilm"/>
    <add key="childTable" value="Distributie"/>
    <add key="server" value="LAURA-ELENA3553\SQLEXPRESS"/>
    <add key="database" value="Filme"/>
  </appSettings>
</configuration>